<div class="cs-container-voice-note">
    <div class="cs-container-time">
        <p>00:07</p>
    </div>
    <div class="cs-container-record">
        <div class="cs-record-simulator-small"></div>
        <div class="cs-record-simulator-small"></div>
        <div class="cs-record-simulator-small"></div>

        <div class="cs-record-simulator-medium"></div>
        <div class="cs-record-simulator-large"></div>
        <div class="cs-record-simulator-medium"></div>

        <div class="cs-record-simulator-small"></div>
        <div class="cs-record-simulator-small"></div>
        <div class="cs-record-simulator-small"></div>

        <div class="cs-record-simulator-medium"></div>
        <div class="cs-record-simulator-large"></div>
        <div class="cs-record-simulator-medium"></div>

        <div class="cs-record-simulator-extra-large"></div>
        <div class="cs-record-simulator-large"></div>
        <div class="cs-record-simulator-medium"></div>

        <div class="cs-record-simulator-small"></div>
        <div class="cs-record-simulator-small"></div>
        <div class="cs-record-simulator-small"></div>
        <div class="cs-record-simulator-small"></div>

    </div>
    <div class="cs-container-icons-voice-note">
        <button mat-icon-button matTooltip="Eliminar audio" type="button">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Pausar grabación" type="button">
            <mat-icon>pausa</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Enviar audio" type="button">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>